html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.small-logo {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -69px;
    z-index: 1;
}
.main-nav_list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    min-height: 58px;
}
.main-nav_item {
    padding-top: 16px;
    width: 140px;
}
.main-nav_item{
    text-align: center;
}
.main-nav_item:nth-child(3) {
    margin-left: 120px;
    
}
.main-nav_item:nth-child(2) {
    margin-right: 120px;
    
}

.main-nav_link {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}
.main-nav_link:hover {
    color: #81b3d2;
}
.main-nav_link:active {
    opacity: 0.3;
}
.main-nav_link__current {
    color: #6c5b54;
}
.big-logo {
    min-height: 510px;
    padding-top: 1px;
    background-color: #81b3d2;
    background-image: url("../img/background-mask.svg"), url("../img/background_photo.jpg");
    background-size: 100% 11%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;
    margin-bottom: 52px;
}
.big-logo_img {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    width: 458px;
    height: 352px;
  
}
.main-description {
    display: block;
    width: 575px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    
    background-color: #ffffff;
}
.reasons {
    margin-bottom: 55px;
}
.reasons_intro{
    display: block;
    width: 575px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.reason-container {
    display: flex;
    flex-wrap: nowrap;
    min-height: 256px;
}
.reason-container:nth-of-type(2) {
     min-height: 330px;
}

.reason {
    background-color: #81b3d2;
    text-align: center;
    flex-basis: 400px;
    color: #ffffff;
}

.reason-container:nth-last-of-type(1) .reason {
    background-color: #eeeeee;
    color: #000000;
}

.image-container {
    flex-grow: 1;
    height: 256px;
    overflow: hidden;
    position: relative;
}
.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.reason_header {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 160px;
    
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;

}

.reason_number::after {
    display: inline-block;
    content: "\2014"; #код знака длинного тире
    font-size: 14px;
    margin-left: 5px;
        
}

.reason_number::before {
    display: inline-block;
    content: "\2014"; #код знака длинного тире
    font-size: 14px;
    margin-right: 5px;
        
}
.reason_description {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.features {
    flex-basis: 400px;
}
.features_header {
    
    padding-top: 160px;
    position: relative;
    margin-top: 0;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    
    background-color: #ffffff;
}
.features_header::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -38px;
    width: 76px;
    height: 76px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.features:nth-child(1) .features_header::before {
    background-image: url("../img/house.svg");
}
.features:nth-child(2) .features_header::before {
    background-image: url("../img/burger.svg");
}
.features:nth-child(3) .features_header::before {
    background-image: url("../img/present.svg");
}
.features_discription {
    text-align: center;
    width: 304px;
    margin: 0 auto;
}

.hotel-search {
    position: relative;
    text-align: center;
}
.hotel-search_question {
    font-size: 30px;
    line-height: 36px;
    text-align: center;

}
.hotel-search_question+p {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #766357;
}
.btn:active{
    opacity: 0.3;
    background-color: #503e33;    
}
.btn:hover {
    background-color: #604e43;
}
.btn__blue {
    background-color: #81b3d2;
}
.btn__blue:active {
    opacity: 0.3;
    background-color: #5496bd;
}
.btn__blue:hover {
    background-color: #669ec0;
}
.btn__transparent {
    background-color: transparent;
}
.btn__transparent:hover {
    color: #000000;
    
    background-color: #ffffff;
}
.btn__transparent:active {
    color: #000000;
    
    background-color: rgba(255, 255, 255, 0.3);
}
.search-form-container {
    position: relative;
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
}
.hotel-search_btn {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 26px;

    text-align: center;
    color: #ffffff;
    text-decoration: none;
    
    background-color: #766357;
}
.hotel-search_modal{
    position: absolute;
    z-index: 2;
    width: 458px;
    background-color: #ffffff;
    color: #000000;
    padding: 55px;
    padding-top: 45px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hotel-search_form {
    display: flex;
    flex-direction: column;
}
.hotel-search_form p {
    display: flex;
}
.hotel-search_form label{
    flex-basis: 113px;
    text-align: left;
}
.hotel-search_form input{
    flex-grow: 1;
    padding-left: 12px;
    background-color: #f2f2f2;
    border: none;
}
.hotel-search_form p:hover input {
    background-color: #ebebeb;
} 

.hotel-search_form label,
.hotel-search_form input {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
}
.hotel-search_persons label, 
.hotel-search_persons input {
    min-width: 115px;
    box-sizing: border-box;
}
.hotel-search .hotel-search_label__children {
    text-align: center;
}

.hotel-search_submit {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 40px;
    border: none;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #81b3d2;
}
.map {
    position: absolute;
    width: 1200px;
    height: 595px;
    overflow: hidden;
    z-index: 1;
}
.modal-block {
    display: none;    
}
.no-js .modal-block {
    display: block;
    position: static;
}
.no-js .map {
    display: block;
    position: static;
}
.no-js .main-footer {
    margin-top: -120px;
}
.modal-block__show {
    position: absolute;
    
    display: block;
    visibility: visible;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.js .map {
    display: none;
}
.no-js .js-map {
    display: none;
}
.js .js-map {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.main-footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: stretch;
    position: relative;
    z-index: 2;
    min-height: 120px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.main-footer__margin-top {
    margin-top: 475px;
}
.main-footer > div {
    flex-basis: 400px;
    text-align: center;
    vertical-align: middle;
}
.hash-tag {
    font-size: 21px;
    color: black;
    text-decoration: none;
}
.hash-tag .inst-link {
    color: black;
    text-decoration: none;  
}
.hash-tag .inst-link:hover {
    color: #81b3d2;
}
.hash-tag .inst-link:active {
    opacity: 0.3;
}

.soc-links {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.soc-links_link {
    width: 46px;
    height: 48px;
    margin-right: 6px;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-decoration: none;  
}
.soc-links_link:hover {
    background-color: #669ec0;
}
.soc-links_link:active {
    opacity: 0.3;
}
.soc-links_link__tw {
    background-image: url("../img/t.svg");
}
.soc-links_link__fb {
    background-image: url("../img/fb.svg");
}
.soc-links_link__yt {
    background-image: url("../img/youtube.svg");
}

.copyright_link {
    display: inline-block;
    padding-left: 5px;
    width: 115px;
    height: 41px;
    vertical-align: middle;        
    text-decoration: none;  
}
.copyright_link:hover path,
.copyright_link:hover rect {
    fill: #81b3d2;
}
.copyright_link:active {
    opacity: 0.3;
}

/*inner page*/

.hotels-filters {
    display: block;
    margin: 0;
    padding-left: 73px;
    padding-right: 73px;
    min-height: 217px;
    
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    
    background-position: center;
    background-image: url("../img/filter_background.jpg");
    background-repeat: no-repeat;
}
.hotels-filters_form {
    display: flex;
    justify-content: flex-start;
}

.hotels-filters_form .infrastraction,
.hotels-filters_form .hotels-type,
.hotels-filters_form .hotels-cost {
   
    min-width: 200px;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-right: 54px;
    
    border: none;
}
.hotels-filters_form .hotels-cost {
    min-width: 318px;

}
.hotels-filters_form .hotels-cost:last-child {
        margin-left: auto;
        margin-right: 0px;
}
.hotels-filters_form legend {
    font-size: 17px;
    margin-bottom: 16px;
}
.hotels-cost_caption {
    margin-bottom: 5px;
}
.hotels-filters_form p {
    position: relative;
    margin: 0;
    padding: 0;
}
.infrastraction input[type="checkbox"],
.hotels-type input[type="checkbox"]{
    display: none;
}
.infrastraction .infrastraction_label,
.hotels-type .hotels-type_label {
    position: relative;
    display: block;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
}
.infrastraction .infrastraction_label::before,
.hotels-type .hotels-type_label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 0;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    border: 2px solid #ffffff;
}
.infrastraction input[type="checkbox"]:disabled + .infrastraction_label::before,
.hotels-type input[type="checkbox"]:disabled + .hotels-type_label::before {
    opacity: 0.5;
}
.infrastraction input[type="checkbox"]:checked + .infrastraction_label::before,
.hotels-type input[type="checkbox"]:checked + .hotels-type_label::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 27px;
    height: 23px;
    border: none;
    background: url("../img/checkbox-on.svg") center no-repeat;
    background-size: cover;
}
.hotels-cost input[type="number"] {
    display: inline-block;
}
.hotels-cost_controls {
    position: relative;
  
    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}
.hotels-cost_controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
.hotels-cost_controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;  
}
.hotels-cost_controls .hotels-cost_from,
.hotels-cost_controls .hotels-cost_to {
    width: 90px;
    padding-left: 65px;
}
.hotels-cost_controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}
.hotels-cost_controls input[type='number'] {
    -moz-appearance:textfield;
}

.hotels-cost_controls input[type='number']::-webkit-outer-spin-button,
.hotels-cost_controls input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.hotels-cost_range {
    position: relative;

    margin-bottom: 32px;
}
.hotels-cost_scale {
    height: 2px;
    
    background-color: rgba(255, 255, 255, 0.3);
}
.hotels-cost_bar {
    display: block;
    width: 70%;
    height: 2px;
    
    background-color: #ffffff;
}
.hotels-cost_toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.hotels-cost_toggle:hover {
    background: #1c4f80;
}
.hotels-cost_toggle__min {
    left: 0;
}
.hotels-cost_toggle__max {
    left: 70%;
}
.hotels-filters_btn {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    box-sizing: border-box;
    
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.result-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 73px;
    margin-right: 73px;
    font-size: 12px;
}
.result-found {
    display: inline-block;
    width: 165px;
    margin: 0;
}
.result-found__bold {
    font-size: 21px;
    font-weight: 700;
}
.sort-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sort-list_item {
    display: inline-block;
    margin-right: 33px;
}
.sort-list_item:first-child {
    margin-left: 39px;
}
.sort-list_param {
    color: #000000;
    opacity: 0.3;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}
.sort-list_param:hover {
    color: #81b3d2;
    opacity: 1;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.sort-list_param:active {
    color: #000000;
    opacity: 1;
    text-decoration: none;
}
.sort-list_param__current {
    color: #81b3d2;
    opacity: 1;
    text-decoration: none;
}
.sort {
    margin: 0;
    margin-top: 5px;
    margin-left: auto;
    padding: 0;
    list-style: none;
    vertical-align: top;
}
.sort_item {
    display: inline-block;

}
.sort_link {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 0;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	   
}
.sort_link__down {
    border-top: 10px solid #cacaca; 
}
.sort_link__up {
    border-bottom: 10px solid #cacaca; 
}
.sort_link:hover{
    border-bottom-color: #231f20;
    border-top-color: #231f20;
}
.sort_link:active,
.sort_link__current {
    border-bottom-color: #81b3d2;
    border-top-color: #81b3d2;
}
.result-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.result-list_item {
    display: flex;
    width: auto;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding-top: 25px;
    padding-left: 73px;
    padding-right: 73px;
}
.result-list_item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.hotel-description {
    margin-left: 30px;
    width: 350px;
}
.hotel-name {
    display: block;
    margin-top: 0;
    margin-bottom: 2px;
    
    font-size: 21px;
    line-height: 26px;
}
.hotel-photo {
    margin-top: 5px;
    float: left;
}
.hotel-tier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}
.hotel-type {
    display: inline-block;
    width: 111px;
}
.hotel-price {
    display: inline-block;
}
.booking {
    margin-top: 15px;
    margin-bottom: 30px;
}
.booking_more-detal,
.booking_btn {
    display: inline-block;
    padding-right: 17px;
    padding-left: 17px;
    margin-right: 2px;
}
.hotel-stars {
    margin-left: auto;
}
.hotel-rating {
    margin-left: auto;
    margin-bottom: 30px;
    padding-left: 16px;
    padding-right: 14px;
    background-color: #f2f2f2;
    color: #666666;
    line-height: 27px;

}